/* import font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

/* root variables */
:root
{
    --block-size: min(5.5vh, 5.5vw);
    --key-size: min(5vh, 7.5vw);
}

body
{
    background-color: #1a1a1b;
}

.text
{    
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

form.boardInput
{
    font-size: 2vh;
}

input.boardInput
{
    background: none;
    border: none;
    text-align: center;

    font-size: 2vh;
}

h1
{
    /* font stuff */
    font-size: 6vh;
    font-weight: 500;

    /* spacing, for subtitle */
    margin-bottom: 0;
}

h3
{
    /* font stuff */
    font-size: 3vh;
    font-weight: 300;

    /* spacing */
    margin-top: 0;
}

#boards
{
    /* positioning */
    position: relative;
    left: calc(50% - var(--block-size) * 7.5);
    margin-bottom: var(--block-size);
    display: block;
    flex: 1;
    overflow: auto;

    /* sizing */
    max-width: calc(var(--block-size) * 7.5 * 2 + 2px);
}

.board
{
    /* appearance */
    background-color: #272729;
    display: inline-block;
    width: calc(var(--block-size) * 6.5 + 1px);

    /* spacing */
    padding: calc(var(--block-size) / 2);
}

.square
{
    /* make visible size constant */
    width: var(--block-size);
    height: var(--block-size);

    /* appearance */
    background-color: #121213;
    border: calc(var(--block-size) / 16) #3a3a3c solid;
    margin: calc(var(--block-size) / 16);

    /* font stuff */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: calc(var(--block-size) * 0.5);
    vertical-align: middle;
    line-height: var(--block-size);
    font-weight: 700;
    text-align: center;
    user-select: none;

    /* display it correctly */
    display: inline-block;
}

.square.key
{
    /* replace any attributes using --block-size to use --key-size instead */
    width: var(--key-size);
    height: var(--key-size);
    border: calc(var(--key-size) / 16) #3a3a3c solid;
    margin: calc(var(--key-size / 16));
    font-size: calc(var(--key-size) * 0.5);
    line-height: var(--key-size);

    /* disable 300ms tap delay on mobile devices */
    touch-action: manipulation;
}

.keyboard
{
    /* center appearance */
    display: table;
    margin-left: auto;
    margin-right: auto;
    
    /* mouse pointer */
    cursor: hand;
    user-select: none;
}

.keyboard.keys
{
    /* sticky keyboard */
    position: fixed;
    top: calc(100% - 5.5 * var(--key-size));
    left: 0;
    width: 100%;
    height: 100%;

    /* background */
    background-color: #1a1a1b;
}

word
{
    /* we don't want to show the answers */
    display: none;
}

.bottomSpace
{
    height: calc(var(--key-size) * 4.5);
}

/* animation */
@keyframes switch_gray
{
    0%
    {
        background-color: #121213;
        border-color: #3a3a3c;
        transform: rotateX(0deg);
    }
    
    49%
    {
        background-color: #121213;
        border-color: #3a3a3c;
        transform: rotateX(90deg);
    }
    
    51%
    {
        background-color: #3a3a3c;
        border-color: #3a3a3c;
        transform: rotateX(90deg);
    }

    100%
    {
        background-color: #3a3a3c;
        border-color: #3a3a3c;
        transform: rotateX(0deg);
    }
}

@keyframes switch_yellow
{
    0%
    {
        background-color: #121213;
        border-color: #3a3a3c;
        transform: rotateX(0deg);
    }
    
    49%
    {
        background-color: #121213;
        border-color: #3a3a3c;
        transform: rotateX(90deg);
    }
    
    51%
    {
        background-color: #b59f3b;
        border-color: #b59f3b;
        transform: rotateX(90deg);
    }

    100%
    {
        background-color: #b59f3b;
        border-color: #b59f3b;
        transform: rotateX(0deg);
    }
}

@keyframes switch_green
{
    0%
    {
        background-color: #121213;
        border-color: #3a3a3c;
        transform: rotateX(0deg);
    }
    
    49%
    {
        background-color: #121213;
        border-color: #3a3a3c;
        transform: rotateX(90deg);
    }
    
    51%
    {
        background-color: #538d4e;
        border-color: #538d4e;
        transform: rotateX(90deg);
    }

    100%
    {
        background-color: #538d4e;
        border-color: #538d4e;
        transform: rotateX(0deg);
    }
}

@keyframes invalid_word
{
    0%
    {
        background-color: #121213;
        border-color: #3a3a3c;
    }

    50%
    {
        background-color: #722323;
        border-color: #aa4841;
    }
    
    100%
    {
        background-color: #121213;
        border-color: #3a3a3c;
    }
}

@keyframes typing
{
    0%
    {
        position: relative;
        font-size: calc(var(--block-size) * 0.5);
    }

    50%
    {
        font-size: calc(var(--block-size) * 0.55);
    }
    
    100%
    {
        font-size: calc(var(--block-size) * 0.5);
    }
}

.switch_gray
{
    animation: switch_gray;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.switch_yellow
{
    animation: switch_yellow;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.switch_green
{
    animation: switch_green;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.invalid_word
{
    animation: invalid_word;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}

.typing
{
    animation: typing;
    animation-duration: 0.2s;
}
